<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Nuevo Producto</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <header>
    <h1>Gestión de Precios</h1>
  </header>
  <div class="container">
    <h2>Nuevo Producto</h2>

    <form class="form-nuevo-producto" action="/producto/nuevo" method="POST" enctype="multipart/form-data">
      <label>Nombre:</label>
      <input type="text" name="nombre" required />

      <div class="form-group">
        <label>Categoría:</label>
        <select name="categoria" required>
          <option value="">Seleccione...</option>
          <option value="Fruta/Verdura" <%=producto.categoria==='Fruta/Verdura' ? 'selected' : '' %>>Fruta/Verdura
          </option>
          <option value="Bebida" <%=producto.categoria==='Bebida' ? 'selected' : '' %>>Bebida</option>
          <option value="Alimento" <%=producto.categoria==='Alimento' ? 'selected' : '' %>>Alimento</option>
          <option value="Otros" <%=producto.categoria==='Otros' ? 'selected' : '' %>>Otros</option>
        </select>
      </div>

      <label>Marca:</label>
      <input type="text" name="marca" required />

      <label>Precio de compra (€):</label>
      <input type="number" step="0.01" name="precio_compra" required />

      <label>Precio actual de venta (€):</label>
      <input type="number" step="0.01" name="precio_actual" />

      <label>Calidad:</label>
      <select name="calidad" required>
        <option value="alta">Alta</option>
        <option value="media" selected>Media</option>
        <option value="baja">Baja</option>
      </select>

      <label>Urgencia de venta:</label>
      <select name="urgencia" required>
        <option value="muy alta">Muy Alta</option>
        <option value="media" selected>Media</option>
        <option value="baja">Baja</option>
      </select>

      <label>Imagen del producto:</label>
      <input type="file" name="foto" accept="image/*" />

      <div class="form-actions">
        <button type="submit" class="btn-primary">Guardar Producto</button>
        <a href="/" class="btn-secondary">Volver al Menú</a>
      </div>
    </form>
  </div>
</body>

</html>